<%= render :partial => "/home/navbar" %>
<div class = "container">
  <div class = "card">

    <div class = "container">

      <div class = "section">
        <div class="row">
          <div class = "col s12 m12 l12">
            <span class = "card-title"><h2 class = "teal-text text-darken-4" ><%= @one_review.detail_address %></h2></span>
          </div>
          <div class = "divider"></div>
          <div class="col s12 m12 l12">
            <ul class="tabs">
              <li class="tab col s3"><a target = "_self" href="/review/review_front/<%= @one_review.parcel_address %>">기본 계약 정보</a></li>
              <li class="tab col s3"><a target = "_self" href="/review/create">리뷰 쓰기</a></li>
              <li class="tab col s3"><a class="active" >리뷰 목록</a></li>
              <li class="tab col s3"><a target = "_self" href="/review/review_board/<%= @one_review.parcel_address %>">커뮤니티</a></li>
            </ul>
          </div>
        </div>

        <div class = "row">
          <div class = "col s12 m12 l12">
            <h5 style = "font-weight: bold">리뷰 목록</h5>
          </div>
        </div>

        <div class = "row">
          <% @review.each do |r| %>
            <div class = "col s12 m4 l4">
              <div class = "card-panel small hoverable">

                <div class = "card-content" style = "padding:0px">
                  <div class = "row" style = "margin :0px">
                    <h4 class="teal-text" style = "overflow:hidden;white-space:nowrap; text-overflow:ellipsis; "><%= r.detail_address %></h4>
                  </div>
                  <div class= "row">

                    <% if r.avg1 == 5 %>
                    <div class= "col s6 m6 l6">
                      <label for ="sisul">시설점수 (5점)</label>
                      <img name ="sisul" class="responsive-img " src="<%= image_path "5point.png" %>" >
                    </div>
                    <% else %>
                      <%if r.avg1 >= 4%>
                      <div class= "col s6 m6 l6">
                        <label for ="sisul">시설점수 (4점)</label>
                        <img name ="sisul" class="responsive-img " src="<%= image_path "4point.png" %>" >
                      </div>
                      <% else %>
                        <% if r.avg1 >= 3%>
                        <div class= "col s6 m6 l6">
                          <label for ="sisul">시설점수 (3점)</label>
                          <img name ="sisul" class="responsive-img " src="<%= image_path "3point.png" %>" >
                        </div>
                        <% else %>
                          <% if r.avg1 >= 2%>
                          <div class= "col s6 m6 l6">
                            <label for ="sisul">시설점수 (2점)</label>
                            <img name ="sisul" class="responsive-img " src="<%= image_path "2point.png" %>" >
                          </div>
                          <% else %>
                          <div class= "col s6 m6 l6">
                            <label for ="sisul">시설점수 (1점)</label>
                            <img name ="sisul" class="responsive-img " src="<%= image_path "1point.png" %>" >
                          </div>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>

                    <% if r.avg2 == 5 %>
                    <div class= "col s6 m6 l6">
                      <label for ="environ">환경점수 (5점)</label>
                      <img name ="environ" class="responsive-img " src="<%= image_path "5point.png" %>" >
                    </div>
                    <% else %>
                      <%if r.avg2 >= 4%>
                      <div class= "col s6 m6 l6">
                        <label for ="environ">환경점수 (4점)</label>
                        <img name ="environ" class="responsive-img " src="<%= image_path "4point.png" %>" >
                      </div>
                      <% else %>
                        <% if r.avg2 >= 3%>
                        <div class= "col s6 m6 l6">
                          <label for ="environ">환경점수 (3점)</label>
                          <img name ="environ" class="responsive-img " src="<%= image_path "3point.png" %>" >
                        </div>
                        <% else %>
                          <% if r.avg2 >= 2%>
                          <div class= "col s6 m6 l6">
                            <label for ="environ">환경점수 (2점)</label>
                            <img name ="environ" class="responsive-img " src="<%= image_path "2point.png" %>" >
                          </div>
                          <% else %>
                          <div class= "col s6 m6 l6">
                            <label for ="environ">환경점수 (1점)</label>
                            <img name ="environ" class="responsive-img " src="<%= image_path "1point.png" %>" >
                          </div>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>

                  </div>
                  <div class = "row">
                    <div class = "col s12 m12 l12">
                      <label for ="oneline1">한줄평</label>
                      <h6 name = "oneline1" style = "overflow:hidden;white-space:nowrap; text-overflow:ellipsis; "><%= r.comment1 %></h6>
                    </div>
                  </div>
                  <div class= "row">
                    <div class= "col s12 m12 l12">
                      <label for ="oneline2">기타의견</label>
                      <h6 name = "oneline2" style = "overflow:hidden;white-space:nowrap; text-overflow:ellipsis; "><%= r.comment2 %></h6>
                    </div>
                  </div>
                </div>

                <div class="card-action" style = "padding-top:10px; padding-bottom:5px; padding-left:0px; padding-right:0px;">
                  <a href="/review/review/<%= r.id %>" >자세한 리뷰 보기</a>

                </div>
              </div>
            </div>
          <% end %>

        </div>

      </div>


    </div>
  </div>
</div>
<%= render :partial => "/home/footer" %>
