<%= render :partial => "/home/navbar" %>
<div class = "container">
  <div class="fixed-action-btn" style="bottom: 10%; right: 10%;">
    <a class="btn-floating btn-large red accent-4 tooltipped" data-position="left" data-delay="50" data-tooltip="게시물 쓰기" href="/review/review_board_write/<%= @one_review.parcel_address %>">
      <i class="large material-icons">mode_edit</i>
    </a>
  </div>
  <div class = "card">

    <div class = "container">

      <div class = "section">
        <div class="row">
          <div class = "col s12 m12 l12">
            <span class = "card-title"><h2 class = "teal-text text-darken-4" ><%= @one_review.detail_address %></h2></span>
          </div>
          <div class = "divider"></div>

          <a class="col s6 m3 l3 teal-text center waves-effect waves-teal btn-flat" href="/review/review_front/<%= @one_review.parcel_address %>">기본 계약 정보</a>
          <a class="col s6 m3 l3 teal-text center waves-effect waves-teal btn-flat" href="/review/create">리뷰 쓰기</a>
          <a class="col s6 m3 l3 teal-text center waves-effect waves-teal btn-flat" href="/review/review_list/<%= @one_review.parcel_address %>">리뷰 목록</a>
          <a class="col s6 m3 l3 black-text center waves-effect waves-teal btn-flat"href="/review/review_board/<%= @one_review.parcel_address %>">대나무숲</a>

        </div>

        <div class = "row">
          
          <div class="row" style="margin : 0px">
            <div class="comment_list">
              <% @boards.each do |b| %>
                <div class="card col s12 m12 l12 z-depth-0" style = "margin:5px">
                  <div class = "row" style = "margin:0px">
                    <h6 class = "col s12 m3 l3 teal-text text-accent-4"><%= b.writer %></h6>
                    <h6 name ="coment" class = "col s12 m9 l9" ><%= b.content %></h6>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <div class = "row" style="margin : 0px">
            <div class = "card z-depth-0 col s12 m12 l12">
              <form action="/review/review_board_write_path/<%= @one_address.id %>" method="POST">
                <div class="input-field">
                  <input class = "col s12 m10 l10"type = "text" id="content" name="content" style = "margin:0px"></input>
                  <label for="comment">댓글 쓰기</label>
                  <input class="col s12 m2 l2 btn btn-default" type="submit" value="저장">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class = "divider"></div>
      <div class = "section">
      </div>

    </div>
  </div>
</div>


<%= render :partial => "/home/footer" %>
