<%= render :partial => "/home/navbar" %>
<div class = "container">
  <div class="fixed-action-btn" style="bottom: 20%; right: 10%;">
    <a class="btn-floating btn-large red accent-4 tooltipped" data-position="left" data-delay="50" data-tooltip="게시물 쓰기" href="/review/review_board_write/<%= @one_review.parcel_address %>">
      <i class="large material-icons">mode_edit</i>
    </a>
  </div>
  <div class = "card">

    <div class = "container">

      <div class = "section">
        <div class="row">
          <div class = "col s12 m12 l12">
            <span class = "card-title"><h2 class = "teal-text text-darken-4" ><%= @one_review.detail_address %></h2></span>
          </div>
          <div class = "divider"></div>

          <a class="col s6 m3 l3 teal-text center waves-effect waves-teal btn-flat" href="/review/review_front/<%= @one_review.parcel_address %>">기본 계약 정보</a>
          <a class="col s6 m3 l3 teal-text center waves-effect waves-teal btn-flat" href="/review/create">리뷰 쓰기</a>
          <a class="col s6 m3 l3 teal-text center waves-effect waves-teal btn-flat" href="/review/review_list/<%= @one_review.parcel_address %>">리뷰 목록</a>
          <a class="col s6 m3 l3 black-text center waves-effect waves-teal btn-flat">커뮤니티</a>

        </div>

        <div class = "row">
          <% @boards.each do |r| %>
          <div class = "col s12 m4 l3">
            <div class = "card-panel small hoverable yellow lighten-5" >

              <div class = "card-content" style = "padding:0px">
                <div class = "row" style = "margin :0px">
                  <h5 class="black-text" style = "overflow:hidden;white-space:nowrap; text-overflow:ellipsis; ">
                    <%= r.title %>
                  </h5>
                </div>
                <div class = "row">
                  <div class = "col s12 m12 l12">
                    <label for ="oneline1">내용</label>
                    <h6 name = "oneline1" style = "overflow:hidden;white-space:nowrap; text-overflow:ellipsis; "><%=r.content %></h6>
                  </div>
                </div>

              </div>

              <div class="card-action" style = "padding-top:10px; padding-bottom:5px; padding-left:0px; padding-right:0px;">
                  <a class=  "black-text">작성일시:2016/12/15 20:00</a>
              </div>
            </div>
          </div>
          <% end %>
        </div>


      </div>

      <div class = "divider"></div>
      <div class = "section">

      </div>

    </div>
  </div>
</div>


<%= render :partial => "/home/footer" %>
