<%= render :partial => "/home/navbar" %>

 <div class="section no-pad-bot">
    <div class="container">
      <div class="row">
        <div class="grid-example col s12 m4 offset-m4">
          <div class="card white z-depth-5 ">
            <div class="card-content black-text">
              <span class="card-title">가입하기</span>

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <%= f.label :email, class: "teal-text" %><br />
                <%= f.email_field :email, placeholder: "이메일을 입력해주세요", autofocus: true %>
              </div>

              <div class="field">
                <%= f.label :password, class: "teal-text" %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %>자 이상 입력해주세요)</em>
                <% end %><br />
                <%= f.password_field :password, placeholder: "비밀번호를 입력해주세요", autocomplete: "off" %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation, class: "teal-text" %><br />
                <%= f.password_field :password_confirmation, placeholder: "비밀번호를 확인해주세요", autocomplete: "off" %>
              </div>


              <p>
                <h6 style ="font-size:0.9rem">회원가입시 루미뷰 <span href="#modal_agree" class = "blue-text modal-trigger">이용 약관</span>에 동의하게 됩니다.</h6>
              </p>


              <br />

              <div class="actions">
                <%= f.submit "가입하기",class: "btn" %>
              </div>
            <% end %>
            <br>
            <hr>
            <%- if controller_name != 'sessions' %>
              <p>이미 가입하셨나요? &nbsp;<%= link_to "로그인", new_session_path(resource_name) %></p><br />
            <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%= render :partial => "/home/footer" %>
  <!-- Modal Structure -->
<div id="modal_agree" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>루미뷰(Roomeview) 이용약관</h4>
    <pre style="font-size:0.7rem"><%= render :file => '/home/term.txt' %></pre>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close btn-flat">확인</a>
  </div>
</div>

<script>
function button1_click() {
  $('input:checkbox[id="agree"]').attr("checked", true);

}

function testcheck()
{
    if (!jQuery("agree").is(":checked")) {
        alert("checked");
        return true;
    }
    else{
      alert("not checked")
      return false;
    }
}
</script>
