<%= render :partial => "/home/navbar" %>

<div class="content-section-a">
	<div class="container" style="margin-top: 40px">
		<form action="/home/list_path_b" method="POST" enctype="multipart/form-data">

			<!--이거 넣어주세요~ -->
			<% @create_review.each do |p| %>
				<input type="hidden" name="address_id" value="<%= p.id %>">
				<!--<input type="hidden" name="address_number">-->
			<% end %>
			<!--끝-->

			<div class="row">
				<div class="col s12 m12 l12 ">

					<div class="card">
						<div class="card-image">
							<nav>
								<div class="nav-wrapper cyan darken-4">
									<div class="col s12">
										<a class="breadcrumb" onclick="go_to_home()">1단계</a>
										<a href="#!" class="breadcrumb">2단계</a>
									</div>
								</div>
							</nav>
						</div>
						<div class="card-content">
							<div class="row">
								<div class="col s12 m12 l12">

									<div class="card blue-grey lighten-5">
										<div class="card-content black-text text-lighten-4">
											<span class="card-title">
												<h4>기본 계약 정보</h4>
											</span>
											<div class="divider"></div>
											<span class="card-title">
												<h5>한줄평</h5>
											</span>
											<blockquote>
												방에 대한 한줄평을 남겨주세요.<br/>(20자 이내)
											</blockquote>
											<div class="container">
												<div class="row">
													<div class="input-field col s12 m12 l12">
														<textarea name="comment1" id="comment1" class="materialize-textarea" length="20" required></textarea>
														<label for="comment1">한줄평</label>
													</div>
												</div>
											</div>
											<div class="divider"></div>

											<span class="card-title">
												<h5>추가 내용</h5>
											</span>
											<blockquote>
												방에 대해서 자유로운 의견을 남겨주세요
											</blockquote>
											<div class="row">
												<div class = "container">
													<div class="input-field col s12 m12 l12">
														<textarea id="comment2" name="comment2" class="materialize-textarea"></textarea>
														<label for="comment2">추가내용</label>
													</div>
												</div>
											</div>

											<div class="divider"></div>
											<span class="card-title">
												<h5>보증금/월세</h5>
											</span>
											<blockquote>
												계약하고 지불하신 보증금과 월세를 입력해주세요.(단위 : 만원)<br />
												<span class = "red-text">주의! 전세는 월세 부분에 1을 적어주세요</span>
											</blockquote>
											<div class="row">
												<div class="container">
													<div class="input-field col s6 m6 l6">
														<input id="price" name="price" type="text" required>
														<label for="price">보증금</label>
													</div>
													<div class="input-field col s6 m6 l6">
														<input id="month" name="month" type="text" required>
														<label for="month">월세</label>
													</div>
												</div>
											</div>
										</div>
										<div class="divider"></div>
										<div class="card-content">
											<span class="card-title">
												<h5>거주 기간</h5>
											</span>
											<blockquote>
												해당 원룸에서 거주했던 기간을 입력해주세요.
											</blockquote>
											<div class="container">
												<div class="row">
													<div class="col s6 m6 l6">
														<label for="start_date">
															<h6>입주일</h6>
														</label>
														<input id="start_date" name="start_date" type="date" class="datepicker center-align" required>
													</div>
													<div class="col s6 m6 l6">
														<label for="end_date">
															<h6>퇴거일</h6>
														</label>
														<input id="end_date" name="end_date" type="date" class="datepicker center-align" required>
													</div>
												</div>
											</div>
										</div>
										<div class="card-action">
											<span class="card-title">
												<h5>공과금/관리비</h5>
											</span>
											<blockquote>
												공과금들이 관리비에 포함 되어있나요?
											</blockquote>
											<!--라디오박스-->
											<div class="container">
												<p>
													<input class="with-gap" name="fee" type="radio" id="fee1" value="1"/>
													<label class="teal-text text-darken-3" for="fee1">포함</label>
												</p>
												<p>
													<input class="with-gap" name="fee" type="radio" id="fee0" checked value="0"/>
													<label class="teal-text text-darken-3" for="fee0">미포함</label>
												</p>
											</div>
										</div>

										<div class="card-action">
											<!-- <span class="card-title">
												<h5>사진</h5>
											</span>
											<blockquote>
												방의 사진을 올려주세요(선택사항)
											</blockquote>

											<div class="container">
												<div class="file-field input-field">
													<div class="btn">
														<span>파일</span>
														<input type="file" name="image1" accept="image/*">
													</div>
													<div class="file-path-wrapper">
														<input class="file-path validate" type="text">
													</div>
												</div>

												<div class="file-field input-field">
													<div class="btn">
														<span>파일</span>
														<input type="file" name="image2" accept="image/*">
													</div>
													<div class="file-path-wrapper">
														<input class="file-path validate" type="text">
													</div>
												</div>

												<div class="file-field input-field">
													<div class="btn">
														<span>파일</span>
														<input type="file" name="image3" accept="image/*">
													</div>
													<div class="file-path-wrapper">
														<input class="file-path validate" type="text">
													</div>
												</div>

												<div class="file-field input-field">
													<div class="btn">
														<span>파일</span>
														<input type="file" name="image4" accept="image/*">
													</div>
													<div class="file-path-wrapper">
														<input class="file-path validate" type="text">
													</div>
												</div>
											</div> -->
											<!--<input type="file" name="image1" accept="image/*"><br>-->
											<!--<input type="file" name="image2" accept="image/*"><br>-->
											<!--<input type="file" name="image3" accept="image/*"><br>-->
											<!--<input type="file" name="image4" accept="image/*">-->
										</div>
									</div>
									<br>
									<!----------------------카드 구분선----------------------->

									<div class="card blue-grey lighten-5">
										<div class="card-content black-text text-lighten-4">
											<span class="card-title">
												<h4>시설 정보</h4>
											</span>
											<blockquote>
												항목명을 클릭하면 설명이 나옵니다.
											</blockquote>
											<div class="divider"></div>
											<div class = "row">
												<br />
												<div class = "col s6 m6 l6">
													<span class="card-title" onclick="Materialize.toast('냉방(에어컨)이 잘되나요?', 4000)">
															<h5 class = "">냉방 시설</h5>
													</span>
													<div class="container">
														<br />
														<p>
															<input class="with-gap" name="cool" type="radio" id="cool5" value="5"/>
															<label class="teal-text text-darken-3" for="cool5" style ="font-size:0.9rem">아주 좋아요</label>
														</p>
														<p>
															<input class="with-gap" name="cool" type="radio" id="cool4" value="4"/>
															<label class="teal-text text-darken-3" for="cool4" style ="font-size:0.9rem">좋아요</label>
														</p>
														<p>
															<input class="with-gap" name="cool" type="radio" id="cool3" checked value="3"/>
															<label class="teal-text text-darken-3" for="cool3" style ="font-size:0.9rem">쓸만해요</label>
														</p>
														<p>
															<input class="with-gap" name="cool" type="radio" id="cool2" value="2"/>
															<label class="teal-text text-darken-3" for="cool2" style ="font-size:0.9rem">안좋아요</label>
														</p>
														<p>
															<input class="with-gap" name="cool" type="radio" id="cool1" value="1"/>
															<label class="teal-text text-darken-3" for="cool1" style ="font-size:0.9rem">아주 안좋아요</label>
														</p>
													</div>
												</div>
												<div class= "col s6 m6 l6">
													<span class="card-title">
														<h5 class = "" onclick="Materialize.toast('난방(보일러)이 잘되나요?', 4000)">난방 시설</h5>
													</span>
													<!--라디오박스-->
													<div class="container">
														<br />
														<p>
															<input class="with-gap" name="warm" type="radio" id="warm5" value="5"/>
															<label class="teal-text text-darken-3" for="warm5" style ="font-size:0.9rem">아주 좋아요</label>
														</p>
														<p>
															<input class="with-gap" name="warm" type="radio" id="warm4" value="4"/>
															<label class="teal-text text-darken-3" for="warm4" style ="font-size:0.9rem">좋아요</label>
														</p>
														<p>
															<input class="with-gap" name="warm" type="radio" id="warm3" checked value="3"/>
															<label class="teal-text text-darken-3" for="warm3" style ="font-size:0.9rem">쓸만해요</label>
														</p>
														<p>
															<input class="with-gap" name="warm" type="radio" id="warm2" value="2"/>
															<label class="teal-text text-darken-3" for="warm2" style ="font-size:0.9rem">안좋아요</label>
														</p>
														<p>
															<input class="with-gap" name="warm" type="radio" id="warm1" value="1"/>
															<label class="teal-text text-darken-3" for="warm1" style ="font-size:0.9rem">아주 안좋아요</label>
														</p>
													</div>

												</div>
											</div>
										</div>
										<div class="card-action">
											<div class = "row">
												<div class = "col s6 m6 l6">
													<span class="card-title">
														<h5 class = "" onclick="Materialize.toast('방에 햇빛이 잘들어오나요?', 4000)">채광 수준</h5>
													</span>
													<!--라디오박스-->
													<div class="container">
														<br />
														<p>
															<input class="with-gap" name="sun" type="radio" id="sun5" value="5"/>
															<label class="teal-text text-darken-3" for="sun5" style ="font-size:0.9rem">아주 좋아요</label>
														</p>
														<p>
															<input class="with-gap" name="sun" type="radio" id="sun4" value="4"/>
															<label class="teal-text text-darken-3" for="sun4" style ="font-size:0.9rem">좋아요</label>
														</p>
														<p>
															<input class="with-gap" name="sun" type="radio" id="sun3" checked value="3"/>
															<label class="teal-text text-darken-3" for="sun3" style ="font-size:0.9rem">쓸만해요</label>
														</p>
														<p>
															<input class="with-gap" name="sun" type="radio" id="sun2" value="2"/>
															<label class="teal-text text-darken-3" for="sun2" style ="font-size:0.9rem">안좋아요</label>
														</p>
														<p>
															<input class="with-gap" name="sun" type="radio" id="sun1" value="1"/>
															<label class="teal-text text-darken-3" for="sun1" style ="font-size:0.9rem">아주 안좋아요</label>
														</p>
													</div>
												</div>
												<div class = "col s6 m6 l6">
													<span class="card-title">
														<h5 class = "" onclick="Materialize.toast('방에 방음이 잘되나요?', 4000)">방음 수준</h5>
													</span>
													<!--라디오박스-->
													<div class="container">
														<br />
														<p>
															<input class="with-gap" name="blocking" type="radio" id="blocking5" value="5"/>
															<label class="teal-text text-darken-3" for="blocking5" style ="font-size:0.9rem">아주 좋아요</label>
														</p>
														<p>
															<input class="with-gap" name="blocking" type="radio" id="blocking4" value="4"/>
															<label class="teal-text text-darken-3" for="blocking4" style ="font-size:0.9rem">좋아요</label>
														</p>
														<p>
															<input class="with-gap" name="blocking" type="radio" id="blocking3" checked value="3"/>
															<label class="teal-text text-darken-3" for="blocking3" style ="font-size:0.9rem">쓸만해요</label>
														</p>
														<p>
															<input class="with-gap" name="blocking" type="radio" id="blocking2" value="2"/>
															<label class="teal-text text-darken-3" for="blocking2" style ="font-size:0.9rem">안좋아요</label>
														</p>
														<p>
															<input class="with-gap" name="blocking" type="radio" id="blocking1" value="1"/>
															<label class="teal-text text-darken-3" for="blocking1" style ="font-size:0.9rem">아주 안좋아요</label>
														</p>
													</div>
												</div>
											</div>
										</div>
										<div class="card-action">
											<div class = "row">
												<div class = "col s6 m6 l6">
													<span class="card-title">
														<h5 onclick="Materialize.toast('방에 환기가 잘되나요?', 4000)">환기 수준</h5>
													</span>
													<!--라디오박스-->
													<div class="container">
														<br />
														<p>
															<input class="with-gap" name="wind" type="radio" id="wind5" value="5"/>
															<label class="teal-text text-darken-3" for="wind5" style ="font-size:0.9rem">아주 좋아요</label>
														</p>
														<p>
															<input class="with-gap" name="wind" type="radio" id="wind4" value="4"/>
															<label class="teal-text text-darken-3" for="wind4" style ="font-size:0.9rem">좋아요</label>
														</p>
														<p>
															<input class="with-gap" name="wind" type="radio" id="wind3" checked value="3"/>
															<label class="teal-text text-darken-3" for="wind3" style ="font-size:0.9rem">쓸만해요</label>
														</p>
														<p>
															<input class="with-gap" name="wind" type="radio" id="wind2" value="2"/>
															<label class="teal-text text-darken-3" for="wind2" style ="font-size:0.9rem">안좋아요</label>
														</p>
														<p>
															<input class="with-gap" name="wind" type="radio" id="wind1" value="1"/>
															<label class="teal-text text-darken-3" for="wind1" style ="font-size:0.9rem">아주 안좋아요</label>
														</p>
													</div>
												</div>
												<div class = "col s6 m6 l6">
													<span class="card-title">
														<h5 onclick="Materialize.toast('방에 방충이 잘 되고 있나요?', 4000)">방충 상태</h5>
													</span>
													<!--라디오박스-->
													<div class="container">
														<br />
														<p>
															<input class="with-gap" name="bug" type="radio" id="bug5" value="5"/>
															<label class="teal-text text-darken-3" for="bug5" style ="font-size:0.9rem">아주 좋아요</label>
														</p>
														<p>
															<input class="with-gap" name="bug" type="radio" id="bug4" value="4"/>
															<label class="teal-text text-darken-3" for="bug4" style ="font-size:0.9rem">좋아요</label>
														</p>
														<p>
															<input class="with-gap" name="bug" type="radio" id="bug3" checked value="3"/>
															<label class="teal-text text-darken-3" for="bug3" style ="font-size:0.9rem">쓸만해요</label>
														</p>
														<p>
															<input class="with-gap" name="bug" type="radio" id="bug2" value="2"/>
															<label class="teal-text text-darken-3" for="bug2" style ="font-size:0.9rem">안좋아요</label>
														</p>
														<p>
															<input class="with-gap" name="bug" type="radio" id="bug1" value="1"/>
															<label class="teal-text text-darken-3" for="bug1" style ="font-size:0.9rem">아주 안좋아요</label>
														</p>
													</div>
												</div>
											</div>

										</div>
										<div class="card-action">
											<div class = "row">
												<div class = "col s6 m6 l6">
													<span class="card-title">
														<h5 onclick="Materialize.toast('수도 시설에서 녹물이 나오나요?', 4000)">수도 녹물</h5>
													</span>
													<!--라디오박스-->
													<div class="container">
														<br />
														<p>
															<input class="with-gap" name="iron" type="radio" id="iron1" value="1"/>
															<label class="teal-text text-darken-3" for="iron1" style ="font-size:0.9rem">나와요</label>
														</p>
														<p>
															<input class="with-gap" name="iron" type="radio" id="iron0" value="0" checked/>
															<label class="teal-text text-darken-3" for="iron0" style ="font-size:0.9rem">안나와요</label>
														</p>
													</div>
												</div>
												<div class = "col s6 m6 l6">
													<span class="card-title">
														<h5 onclick="Materialize.toast('화장실 / 배수구 / 싱크대에서 냄새가 올라오나요?', 4000)">수도 냄새</h5>
													</span>
													<!--라디오박스-->
													<div class="container">
														<br />
														<p>
															<input class="with-gap" name="smell" type="radio" id="smell1" value="1"/>
															<label class="teal-text text-darken-3" for="smell1" style ="font-size:0.9rem">나요</label>
														</p>
														<p>
															<input class="with-gap" name="smell" type="radio" id="smell0" value="0" checked/>
															<label class="teal-text text-darken-3" for="smell0" style ="font-size:0.9rem">안나요</label>
														</p>
													</div>
												</div>
											</div>
										</div>
										<div class="card-action">
											<span class="card-title">
												<h5 onclick="Materialize.toast('방에서 반려동물과 함께 지낼 수 있나요?', 4000)">반려동물 동거 가능 여부</h5>
											</span>
											<!--라디오박스-->
											<div class="container">
												<br />
												<p>
													<input class="with-gap" name="pet" type="radio" id="pet1" value="1"/>
													<label class="teal-text text-darken-3" for="pet1">가능</label>
												</p>
												<p>
													<input class="with-gap" name="pet" type="radio" id="pet0" checked value="0"/>
													<label class="teal-text text-darken-3" for="pet0">불가능</label>
												</p>
											</div>
										</div>
										<div class="card-action">
											<span class="card-title">
												<h5 onclick="Materialize.toast('아래 항목에서 건물에 구비된 시설을 체크해주세요. (공동 사용하는 물품은 추가코멘트에 작성해주세요)', 4000)">구비 시설</h5>
											</span>
											<!--라디오박스-->
											<div class="container">
												<br />
												<div class="row">
													<div class="col s12 m4 l4">
														<p>
															<input type="checkbox" class="filled-in" name="gas" id="gas" checked="checked" value="1"/>
															<label for="gas" style ="font-size:0.9rem">가스레인지/인덕션</label>
														</p>
													</div>
													<div class="col s6 m4 l4">
														<p>
															<input type="checkbox" class="filled-in" name="micro" id="micro" checked="checked" value="1"/>
															<label for="micro" style ="font-size:0.9rem">전자레인지</label>
														</p>
													</div>
													<div class="col s6 m4 l4">
														<p>
															<input type="checkbox" class="filled-in" name="bed" id="bed" checked="checked" value="1"/>
															<label for="bed" style ="font-size:0.9rem">침대</label>
														</p>
													</div>
													<div class="col s6 m4 l4">
														<p>
															<input type="checkbox" class="filled-in" name="desk" id="desk" checked="checked" value="1"/>
															<label for="desk" style ="font-size:0.9rem">책상</label>
														</p>
													</div>
													<div class="col s6 m4 l4">
														<p>
															<input type="checkbox" class="filled-in" name="laundry" id="laundry" checked="checked" value="1"/>
															<label for="laundry" style ="font-size:0.9rem">세탁기</label>
														</p>
													</div>
													<div class="col s6 m4 l4">
														<p>
															<input type="checkbox" class="filled-in" name="internet" id="internet" checked="checked" value="1"/>
															<label for="internet" style ="font-size:0.9rem">무선인터넷</label>
														</p>
													</div>
													<div class="col s6 m4 l4">
														<p>
															<input type="checkbox" class="filled-in" name="fire" id="fire" checked="checked" value="1"/>
															<label for="fire" style ="font-size:0.9rem">화재장비</label>
														</p>
													</div>
													<div class="col s6 m4 l4">
														<p>
															<input type="checkbox" class="filled-in" name="cctv" id="cctv" checked="checked" value="1"/>
															<label for="cctv" style ="font-size:0.9rem">CCTV</label>
														</p>
													</div>
													<div class="col s6 m4 l4">
														<p>
															<input type="checkbox" class="filled-in" name="parking" id="parking" checked="checked" value="1"/>
															<label for="parking" style ="font-size:0.9rem">주차공간</label>
														</p>
													</div>

												</div>

											</div>
										</div>
									</div>

									<!----------------------카드 구분선----------------------->
									<div class="card blue-grey lighten-5">
										<div class="card-content black-text text-lighten-4">
											<span class="card-title">
												<h4>주변 환경 정보</h4>
											</span>
											<div class="divider"></div>

											<div class="row">
												<div class = "col s6 m6 l6">
													<span class="card-title">
														<h5 onclick="Materialize.toast('건물이 있는 골목에 가로등이 몇개있나요?', 4000)">주변 가로등</h5>
													</span>
													<div class="container">
														<p>
															<input class="with-gap" name="night" type="radio" id="night5" value="5"/>
															<label class="teal-text text-darken-3" for="night5" style ="font-size:0.9rem">5개이상</label>
														</p>
														<p>
															<input class="with-gap" name="night" type="radio" id="night4" value="4"/>
															<label class="teal-text text-darken-3" for="night4" style ="font-size:0.9rem">4개</label>
														</p>
														<p>
															<input class="with-gap" name="night" type="radio" id="night3" checked value="3"/>
															<label class="teal-text text-darken-3" for="night3" style ="font-size:0.9rem">3개</label>
														</p>
														<p>
															<input class="with-gap" name="night" type="radio" id="night2" value="2"/>
															<label class="teal-text text-darken-3" for="night2" style ="font-size:0.9rem">2개~1개</label>
														</p>
														<p>
															<input class="with-gap" name="night" type="radio" id="night1" value="1"/>
															<label class="teal-text text-darken-3" for="night1" style ="font-size:0.9rem">없음</label>
														</p>
													</div>
												</div>
												<div class = "col s6 m6 l6">
													<span class="card-title">
														<h5 onclick="Materialize.toast('야간에 방에 들어오는 외부의 빛이 많은가요?', 4000)">야간 빛공해</h5>
													</span>
													<div class="container">
														<p>
															<input class="with-gap" name="light" type="radio" id="light5" value="5"/>
															<label class="teal-text text-darken-3" for="light5" style ="font-size:0.9rem">없어요</label>
														</p>
														<p>
															<input class="with-gap" name="light" type="radio" id="light4" value="4"/>
															<label class="teal-text text-darken-3" for="light4" style ="font-size:0.9rem">적은편이에요</label>
														</p>
														<p>
															<input class="with-gap" name="light" type="radio" id="light3" checked value="3"/>
															<label class="teal-text text-darken-3" for="light3" style ="font-size:0.9rem">보통이에요</label>
														</p>
														<p>
															<input class="with-gap" name="light" type="radio" id="light2" value="2"/>
															<label class="teal-text text-darken-3" for="light2" style ="font-size:0.9rem">많은편이에요</label>
														</p>
														<p>
															<input class="with-gap" name="light" type="radio" id="light1" value="1"/>
															<label class="teal-text text-darken-3" for="light1" style ="font-size:0.9rem">심해요</label>
														</p>
													</div>
												</div>

											</div>
										</div>
										<div class="divider"></div>
										<div class="card-content">
											<div class = "row">
												<div class = "col s6 m6 l6">
													<span class="card-title">
														<h5 onclick="Materialize.toast('건물 주변에 소음이 심한가요?', 4000)">외부 소음</h5>
													</span>
													<div class="container">
														<p>
															<input class="with-gap" name="noise" type="radio" id="noise5" value="5"/>
															<label class="teal-text text-darken-3" for="noise5" style ="font-size:0.9rem">아주 조용해요</label>
														</p>
														<p>
															<input class="with-gap" name="noise" type="radio" id="noise4" value="4"/>
															<label class="teal-text text-darken-3" for="noise4" style ="font-size:0.9rem">조용해요</label>
														</p>
														<p>
															<input class="with-gap" name="noise" type="radio" id="noise3" checked value="3"/>
															<label class="teal-text text-darken-3" for="noise3" style ="font-size:0.9rem">보통이에요</label>
														</p>
														<p>
															<input class="with-gap" name="noise" type="radio" id="noise2" value="2"/>
															<label class="teal-text text-darken-3" for="noise2" style ="font-size:0.9rem">심해요</label>
														</p>
														<p>
															<input class="with-gap" name="noise" type="radio" id="noise1" value="1"/>
															<label class="teal-text text-darken-3" for="noise1" style ="font-size:0.9rem">매우 심해요</label>
														</p>
													</div>
												</div>
												<div class = "col s6 m6 l6">
													<span class="card-title">
														<h5 onclick="Materialize.toast('건물 주변 위생 상태는 어떤가요?', 4000)">건물 위생</h5>
													</span>
													<div class="container">
														<p>
															<input class="with-gap" name="sani" type="radio" id="sani5" value="5"/>
															<label class="teal-text text-darken-3" for="sani5" style ="font-size:0.9rem">아주 깨끗해요</label>
														</p>
														<p>
															<input class="with-gap" name="sani" type="radio" id="sani4" value="4"/>
															<label class="teal-text text-darken-3" for="sani4" style ="font-size:0.9rem">깨끗해요</label>
														</p>
														<p>
															<input class="with-gap" name="sani" type="radio" id="sani3" checked value="3"/>
															<label class="teal-text text-darken-3" for="sani3" style ="font-size:0.9rem">보통이에요</label>
														</p>
														<p>
															<input class="with-gap" name="sani" type="radio" id="sani2" value="2"/>
															<label class="teal-text text-darken-3" for="sani2" style ="font-size:0.9rem">더러워요</label>
														</p>
														<p>
															<input class="with-gap" name="sani" type="radio" id="sani1" value="1"/>
															<label class="teal-text text-darken-3" for="sani1" style ="font-size:0.9rem">매우 더러워요</label>
														</p>
													</div>
												</div>
											</div>

										</div>

										</div>
									</div>


								</div>
							</div>
							<div class="center-align">
								<a href="/home/create_a" class="btn btn-default">취소하기</a>
								<input class="btn btn-default" type="submit" value="완료하기">
							</div>
							<br />
						</div>
					</div>

				</div>
			</div>
		</form>
	</div>

</div>

<%= render :partial => "/home/footer" %>
<script>
	var address = [];

	<% @create_review.each do |c| %>
    if (address.includes("<%= c.address %>") == false) {
      	address.push("<%= c.address %>");
    }
  <% end %>

  var address_number = address.length

  $('input[name=address_number]').attr('value', address_number);
</script>
