<%= render :partial => "/home/navbar" %>

<%= @sort_value %>
    <% if @sort_value == "1"%>
     <% @view_address_review.order(:start_date).each do |a| %>
     
     
                     <%= a.address_name %><br>
                     
                <a href="/update_view_a/<%= a.id %>">[수정]</a>
                <a href="/destroy/<%= a.id %>">[삭제]</a><br><hr>
        <% end %>
    <% end %>    
     
    <% if @sort_value == "2"%>
     <% @view_address_review.order(:price).each do |a| %>
     
     
                     <%= a.address_name %><br>
                     
                <a href="/update_view_a/<%= a.id %>">[수정]</a>
                <a href="/destroy/<%= a.id %>">[삭제]</a><br><hr>
        <% end %>
        
    <% end %>
    </div>

                    
   
    

