<%= render :partial => "/home/navbar" %>

<div class="container">
  <div class="section no-pad-bot">

      <div class="row">
        <div class="grid-example col s10 m6 offset-m3 offset-s1">
          <div class="card white z-depth-4 ">
            <div class="card-content black-text">
              <span class="card-title">로그인하기</span>
               <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

              <div class="field">
                <%= f.label :email, class: "black-text" %><br />
                <%= f.email_field :email, placeholder: "이메일을 입력해주세요", autofocus: true %>
              </div>

              <div class="field">
                <%= f.label :password, class: "black-text"  %><br />
                <%= f.password_field :password, placeholder: "비밀번호를 입력해주세요", autocomplete: "off" %>
              </div>
              <div class="row">
                <div class="col s5 m5 l5">
                <% if devise_mapping.rememberable? %>
                  <div class="field">
                    <%= f.check_box :remember_me%>
                    <%= f.label :remember_me, "ID 저장", class: "black-text" %>
                  </div>
                  <% end %>
                  </div>
                  <div class="col s7 m7 l7">
                  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                    <span style="float:right;"><%= link_to "비밀번호 찾기", new_password_path(resource_name) %></span><br />
                  <% end %>
                  </div>
              </div>
              <br>

              <div class="actions">
                <%= f.submit "로그인",class: "btn" %>
              </div>

            <% end %>
            <br>
            <hr>
            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <span class = "center"><%= link_to "무료로 가입하기", new_registration_path(resource_name), class:"btn amber black-text", style:"font-size:1.3rem"%></span>
            <br />
            <% end %>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%= render :partial => "/home/footer" %>
