<!DOCTYPE html>
<html>
<head>
  <title>Roomeview</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>

  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
  <!-- 마테리얼 디자인 아이콘 사용 링크 -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>



  <!-- 구글 애널리 틱스 소스코드 -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-82689511-1', 'auto');
    ga('send', 'pageview');

  </script>

  <script>
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
    });
  </script>

  <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
  <!--다음 지도 API key-->
  <script type="text/javascript" src="https://apis.daum.net/maps/maps3.js?apikey=<%= ENV['MAP_API_KEY'] %>&libraries=services"></script>

</head>
<body>

  <%= yield %>

</body>
</html>
